body {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "player1 table  table table player2"
    "main-player main-player main-player main-player main-player";
  margin: 3%;
  width:90vw;
  height:90vh;
}

header {
  grid-area: header;
  background-color: rgb(35, 193, 193);
  height: 10vh;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player1,
#player2 {
  background-color: rgb(118, 93, 67);
  height: 10vh;
  width: 90vw;
}
#player1 {
  grid-area: player1;
}
#player2 {
  grid-area: player2;
}
#table {
  grid-area: table;
  background-color: darkgreen;
  height: 70vh;
  width: 90vw;
}
#main-player {
  grid-area: main-player;
  background-color: blue;
  height: 10vh;
}
