body {
  background: #f4f4f4;
}

.menu {
  width: 600px;
  position: absolute;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu ul li {
  background: #f4f4f4;
  border: 1px solid #0e0d0d;
  /* display: block; */
  float: left;
  font: bold 12px arial;
  /* height: 40px; */
  line-height: 40px;
  overflow: hidden;
  padding-left: 15px;
  /* position: absolute; */
  width: 135px;
  z-index: 10000;
  box-shadow: 0px 3px 5px #444242;
  background-image: linear-gradient(to top, rgba(139, 132, 132, 0.5),transparent);
}

.menu ul li:hover {
  background-image: linear-gradient(to top, rgba(15, 44, 37, 0.8), transparent);
  
}
.menu ul li:hover > div {
  display: block;
  text-align: center;
  font: bold 12px arial;
  line-height: 19px;
  /* margin: 10px 0; */
  padding: 5px;
}

.menu ul li a {
  display: block;
  text-decoration: none;
  color: #303030;
} 
.menu ul li div{
  display: none;
}


.menu ul li div a {
  display: block;
}

.menu ul li div a:hover {
  text-decoration: underline;
  font-size: 14px;
}

.menu ul li div hr {
  border: none;
  border-top: 1px dotted #a0a0a0;
  margin: 5px 0;
  width: 95%
}

