

<!DOCTYPE html>
<!—In this task, there are a few tags and/or attributes left out. Please identify them and correct them appropriately -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>form project</title>
</head>

<body>
  <form action="">
    <fieldset>
      <legend>Account</legend>
      <label for="name">Name</label><br>
      <input type="text" name="name" value=""><br>
      <label for="email">Email</label><br>
      <input type="email" name="email" value=""><br>
      <label for="password">Password</label><br>
      <input type="password" name="password" value="">
    </fieldset>
    <fieldset>
      <legend>User Info</legend>
      <label for="">Location</label>
        <select class="" name="">
        <option value="select" selected>Select</option>
        <option value="Budapest">Budapest</option>
        <option value="Debrecen">Debrecen</option>
        <option value="Gyor">Gyor</option>
      </select><br>
      <label for="gender">Gender</label><br>
      <input type="radio" name="gender" value="Male">Male
      <input type="radio" name="gender" value="Female">Female<br>
      <label for="">Interests</label><br>
      <input type="checkbox" name="interests" value="Movies">Movies
      <input type="checkbox" name="interests" value="Sports">Sports
      <input type="checkbox" name="interests" value="Music">Music<br>
    </fieldset><br>
        <input type="submit" name="submit" value="Submit Info">
  </form>
</body>
</html>


