body{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "player1 table  table table player2"
    "main-player main-player main-player main-player main-player";
    margin: 25px;

}

header{
    grid-area: header;
    background-color: rgb(155, 229, 229);
    height: 150px;

}
#player1, #player2{
 
    background-color: rgb(214, 199, 182);
    min-height: 400px;
    min-width: 20%;
   
}
#player1{
    grid-area: player1;
}
#player2{
    grid-area: player2;
}
#table{
    grid-area: table;
    background-color: rgb(59, 159, 59)
}
#main-player{
    grid-area: main-player;
    background-color: rgb(102, 102, 221);
    min-height: 250px
}





