#grandPlay{
    height: 50vh;
}
.text{
    position: absolute;
    top: 45%;
    left: 35%;
}
.s-card{
    height: 7vh;
    width: 3vw;
    margin-top: 1%;
    margin-left: 1%;
}
#first-card{
    margin-left: 10%;
}